.popup__input-span_error_active {
  position: absolute;
  left: 0;
  top: 30px;
  min-height: 30px;
  color: #ff0000;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 15px;
}
