.entry__quest {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0;
    text-align: center;
    color: inherit;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: -30px;

}