.header__menu-link {
    display: flex;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    transition: opacity .4s linear;
}

.header__menu-link:hover {
    opacity: 0.6;
}