/* header section*/
.header {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #000;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .header {
    max-width: calc(880px + 27px * 2);
    padding-top: 28px;
    padding-bottom: 30px;
    padding-left: 27px;
    padding-right: 27px;
  }
}
